h1{
    color: #c00c84;
}

 body{
    background-color: rgb(186, 196, 196);
 }

#encabezado {
background-color: rgb(156, 156, 156);
height: 150px;
width: 80%;
margin: 0 auto;
border-radius: 10px;
padding: 20px;
box-shadow: 10px 10px 5px rgba(0,0,0.5);
display: flex;
}

.logo {
    background-color: #abe7f1;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu {
    background-color: #737475;
    width: 65%;
    list-style: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(163, 163, 187); 
}

.menu ul li {
    margin: 0;
    padding: 15px 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: rgba(0,0,0.5);
    padding: 15px 20px;
}

.redes {
    background-color: #f1e5ab;
    width: 20%;
}

