h1{
    color: #c00c84;
}

 body{
    background-color: rgb(186, 196, 196);
 }

#encabezado {
background-color: rgb(156, 156, 156);
height: 150px;
width: 80%;
margin: 0 auto;
border-radius: 10px;
padding: 20px;
box-shadow: 10px 10px 5px rgba(0,0,0.5);
}